<div class="navbar">
  <div class="link"><a href="/">Home</a></div>
  <div class="link"><a href="/foods">Menu</a></div>
  <div class="link"><a href="/parties">All Parties</a></div>
  <div class="link"><a href="/foods/new">New Menu Item</a></div>
  <div class="link"><a href="/parties/new">New Party</a></div>
</div>