<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>EATELICIOUS</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <link rel="stylesheet" media="(max-width: 700px)" href="/stylesheets/phone.css">

</head>
<body>
  <h1 class="diner">Mustafa's House of Shawarma</h1>
    
  <% if current_user %>
    <%= erb :'partials/_navigation_for_user'%>
  <% else %>
    <%= erb :'partials/_navigation_for_non_user'%>
  <% end %>

  <%= yield %>
</body>
</html>

