<h2>Menu</h2>

<table style="width:30%" cellspacing="20" align="left">
  <tr>
    <th>Menu Item</th>
    <th>Price</th>
  </tr>
  <% @foods.each do |food| %>
    <tr>
      <td><a href="/foods/<%= food.id %>"><%= food.dishname %></a></td> 
      <td align=center><%= food.price %></td>
    </tr>
  <% end %>
</table>
 