<h2>New Party</h2>

<form action="/parties" method="post">
  <input type="text" name="party[assigned_table]" placeholder="Table No.">
  <input type="text" name="party[groupsize]" placeholder="# of Guests">
  <input type="hidden" name="party[paid_check]" value="<%= false %>">
  <input type="submit" value="Enter new guests">
</form>